@charset "UTF-8";


/* admin header*/
#wrap { width: 100%; height:100%; text-align:left;	margin: 0 auto; background: white; min-height: 780px; }

a{ text-decoration-line: none; color: inherit;}
nav#top_menu{ width:1150px; height:40px; background:white;   margin:0 auto;  }
nav#top_menu ul li{ display:block; height:15px; float:right; font-family: '맑은 고딕';
	 font-size:100%; margin : 0px 20px 0 0; }	 
nav#top_menu ul li a:hover {color: blue; font-weight: bold;}


#sub_menu{ position:relative;  width:1350px ;  height:120px;  margin:0 auto;}
.logo { float:left;  width: 150px; height: 100px; margin: 0 0 0 50px;}
.category { position:relatiove; width: 1300px; height:85px; margin:0 auto; }
.category_top_menu li{  display:block;  height:10px;float:left; font-family: '맑은 고딕';
	 font-size:140%; margin: 20px 0 10px 80px; font-weight:bold;}
.category_top_menu li:hover { color: blue; font-weight: bold;} 

/* admin footer */
#footer {border-top: 1px solid #d9d9d9;}
#footer .container {padding: 50px 0 160px; width:1150px;}
#footer .container .top {padding-bottom: 30px; border-bottom: 1px solid #e0e0e0; overflow: hidden;}
#footer .container .top .links {display: flex; overflow: hidden; justify-content: space-between;}

#footer .container .bottom {margin-top: 30px; position: relative;}
.lotteon-banner {position: absolute; top: 75px; right: 0;}
#footer .container .bottom .left {float: left;}
#footer .container .bottom .left .flogo {float: left;}
#footer .container .bottom .left div {padding-left:140px;}
#footer .container .bottom .left div p:first-child {margin-top:0;}
#footer .container .bottom .left div p span {margin-left:0; padding-left:0;}
#footer .container .bottom .left div p {font-size:15px; color:#555; margin-top:10px;}
#footer .container .bottom .left div p.copyright {font-size:13px; color:#777; margin-top:30px;}
#footer .container .bottom .isms {position:absolute; bottom:-190px; left:80px;}
#footer .container .bottom .isms img {display:block; padding-top:3px; padding-left:55px; height:70px;}
#footer .container .bottom .sns {position:absolute; right:250px; top:10px;}
#footer .container .bottom .sns a:first-child {margin-left:0;}
#footer .container .bottom .sns a {float:left; margin-left:10px;}



/* admin login */
#logina{position: relative; width:1180px; display: grid; min-height: 10vh; height:830px; margin: 0 auto; text-align: center;}
#logina #login {position: relative; width:100%; height:250px; margin: 0 auto; line-height: 160px; text-align: center; font-size:200%}
#logina #input{ position: relative;width:600px; height:70px; color:gray; border:1px solid silver; 
      margin: 0 auto; background: white; line-height: 70px; text-align:center; font-size: 100%; }
#logina input[type=text], input[type=password]{ font-size:150%; border:0; outline: none; }
#logina h2{font-size:150%; padding-top:30px;padding-bottom:8px; margin:0 auto;}
#logina .menu1{ position: relative; margin: 0 auto; margin-top: 10px; width:600px; height:20px; text-align: right; }
#logina .menu1 ul{ list-style: none; margin:0; padding:0; display:inline-block; }
#logina .menu1 ul li{ float:left; padding:0 5px;  font-size:100%;  }
#logina a {  color:gray; text-decoration: none; } 

#logina #buttons input{margin:30px 0 0 20px  ; width:200px; height:60px; border: 1px solid #666; 
border-radius: 10px; box-shadow: 3px 3px 2px #ccc; font-size:150%;}
#logina #buttons input[type=submit]{background : #6317ed;color:white; }
#logina #buttons input[type=button]{background :white;color:#6317ed }
#logina #content{margin:30px; font-size:100%;}

/* admin attraction */
.att_title_img {position:relative; width:100%; height:485px; display:inline-box; text-align:center; margin:0 auto;}
#att_title_text {position:absolute; top:30%; left:50%; transform:translate(-50%, -50%); color:white;
   text-align:center; font-weight:bold; font-size:50px; text-shadow: 2px 2px 6px black;}
#att_title_exp{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:white;
   text-align:center; font-weight:normal; font-size:20px; text-shadow: 2px 2px 6px black;}
#att_search{position:absolute; width:1100px; height:85px; background-color:#5c10e6; color:white; font-weight:normal; text-align:center;
   font-size:30px;  left:50%; transform:translate(-50%, -50%); line-height:85px;}
   
#at_arg_A {position:relative; width:100%; height:80px;}
#att_back{position:relative; width:1130px; height:1000px; margin:0 auto;}
.att_list{position:relative; width:250px; height:330px; float:left; margin:15px; text-align:center; 
	border:1px solid lightgray; background-color:white; transition:0.2s;}
.att_list img {width:249px; height:250px; object-fit:cover;}
#at_arg{position:relative; width:100%; height:20px;}
.att_list:hover{background-color:#5c10e6; box-shadow:3px 3px 15px gray; border:none; color:white;}

/*admin attraction detail*/
.att_Detail_title {position:relative; width:100%; height:380px; display:inline-box; text-align:center; margin:0 auto;}
#att_Detail_text {position:relative; text-align:center; font-weight:bold; font-size:60px; padding: 100px 0 0 0;}
#att_Detail_exp{position:relative; text-align:center; font-weight:normal; font-size:20px; padding: 20px 0;}

#att_Detail_tag{position:relative; width:100%; height:80px; display:flex; justify-content:center; align-items:center;}
#att_Detail_tag ul{width:720px; height:54px; margin:0 auto; list-style:none; display:flex; justify-content:center; align-items:center; text-align:center;}
#att_Detail_tag ul li{width:110px; height:40px; border-radius:40px 40px 40px 40px; border:1px solid lightgray; float:left;
	margin:20px; font-size:16px; line-height:40px;}

#att_Detail_img_tool {width:100%; height:700px; margin:0 auto;}
#att_Detail_img {width:100%; height:100%; object-fit:cover;}

#att_Info_back {width:100%; height:794px; text-align:center; background-image: url("../../images/att_Info_bg.jpg");}
#att_Info_box_tool {position:relative; margin:0 auto; width:620px; height:470px;}
.att_Info_box {position:relative; width:270px; height:360px; margin:60px 20px 20px 20px; text-align:center; background-color:white; box-shadow:5px 5px 5px gray; float:left;}
.att_Info_icon {padding:40px 0 0 0;}
.att_Info_text {padding:15px 0 0 0; font-size:20px;}
#att_Info_pnum {padding:40px 0 0 0; font-size:50px; font-weight:bold;}
#att_Info_limit {padding:50px 0 0 0; font-size:20px;}
#att_Info_text2 {position:relative; width:100%; text-align:center; font-weight:bold; font-size:40px;}
#att_Info_bottom {position:relative; width:100%; height:130px;}
#att_Info_bottom_tool {width:600px; height:130px; margin:0 auto;}
#att_Info_icon_tool {width:150px; height:130px; float:left;}
#att_Info_icon2 {position:relative; margin:0 auto; width:125px; height:100px;}
#att_Info_icon_text2 {position:relative; margin:0 auto; width:125px; height:30px; font-size:16px;}

.closeInfo {width: 1170px; padding-bottom: 100px; border-bottom: 1px solid #e1e1e1; text-align: center; margin: 40px auto 0;}
.att_holiday_tool{border: 1px solid #e1e1e1; background: #f8f8f8; padding: 80px 0; margin-top: 40px; text-align: center;}
.att_holiday_tool .txt {display: inline-block; font-size: 18px; color: #777; margin: 0;}
.att_holiday_tool .txt span{display: inline-block; background:url(images/icons/holidayDiv_txtBg.png) no-repeat 0; padding-left:110px; line-height:100px;}

.closeInfo .txt {font-size:16px; color:#555; line-height: 28px; margin-top: 30px;}
.closeInfo .link {margin-top: 20px;}
.closeInfo .link a {display: inline-block; border: 1px solid #e1e1e1; padding: 0 40px; height: 48px; 
	line-height: 46px; font-size: 16px; color: #000; text-align: center; background: #f6f6f6; border-radius: 25px;}

.btnArea {position:relative; width:100%; height:100px; padding:20px 410px;}
.purpleBtn {width:140px; height:56px; border-radius:40px; background-color:#6f23f9;
	font-size:20px; color:white; margin:0 10px; border:none; cursor:pointer;}
	
	
	
/* 공지사항 */

section.notice {padding:  0;}
.page-title { margin-top:50px; margin-bottom: 80px;}
#board-search .search-window {position: relative; padding: 15px 0;background-color: #f9f7f9;}
#board-search .search-window .search-wrap {position: relative;margin: 0 auto;width:  600px; }
#board-search .search-window .search-wrap input { height: 40px;width: 100%;font-size: 14px;padding: 7px 14px;border: 1px solid #ccc;}
#board-search .search-window .search-wrap input:focus {border-color: #333;outline: 0;border-width: 1px;}
#board-search .search-window .search-wrap .btn {position: absolute;right: 0;top: 0;bottom: 0;width: 108px;padding: 0;font-size: 16px;}

.board-table {font-size: 13px;width: 100%;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.board-table a {color: #333;display: inline-block;line-height: 1.4;word-break: break-all;vertical-align: middle;}
.board-table a:hover {text-decoration: underline;}
.board-table th {text-align: center;}
.board-table .th-num {width: 100px;text-align: center;}
.board-table .th-date {width: 200px;}
.board-table th, .board-table td {padding: 14px 0;}
.board-table tbody td {border-top: 1px solid #e7e7e7;text-align: center;}
.board-table tbody th {padding-left: 28px;padding-right: 14px;border-top: 1px solid #e7e7e7;text-align: left;}
.board-table tbody th p{display: none;}
.btn {display: inline-block;padding: 0 30px;font-size: 15px; font-weight: 400;background: transparent;text-align: center;
  white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;
  -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;
  text-transform: uppercase;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
  -webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s; -o-transition: all 0.3s;
  transition: all 0.3s;}
.btn-dark {background:#555; color: #fff;}
.btn-dark:hover, .btn-dark:focus {background: #373737;border-color: #373737;color: #fff;}
* {list-style: none;text-decoration: none;padding: 0;margin: 0;box-sizing: border-box;}
.clearfix:after {content: '';display: block;clear: both;}
.container {  width: 1100px;margin: 0 auto;}
.blind { position: absolute;overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px;}
.plusebtn{float:left;}

/* adminnoticeDetail */
.event01{position:relative; width:1150px; height:100%; margin:0 auto;}
.event02{position:relative; width:100%; height:200px; font-size:50px; font-weight:bold; text-align:center; 
	padding:70px; border-bottom:1px solid black;}
.event03{position:relative; width:100%; height:80px; font-weight:bold; padding:10px; border-bottom:1px solid lightgray;}
.event04{position:relative; width:120px; height:100%; padding-top:15px; font-size:120%; text-align:center; float:left;}
.event05{position:relative; width:790px; height:100%; padding-top:15px; font-size:120%; padding-left:10px; float:left;}
.event06{position:relative; width:200px; height:100%; padding-top:15px; font-size:120%; text-align:center; float:left;}
.event08{position:relative; width:100%; height:100%; padding:40px 0 40px 0; margin:0 auto; border-bottom:1px solid lightgray;}
.event09{position:relative; width:100%; height:150px; padding:40px 343px;}
.event10{position:relative; width:100%; height:100%;}
.event10 input {width:130px; height:56px; border-radius:40px; background-color:#6f23f9;
	font-size:20px; color:white; margin:0 10px; border:none;}
	
/*adminmember*/
.page-titlee { margin-top:50px; margin-bottom: 80px;}
.board-searchh .search-window {padding: 15px 0;background-color: #f9f7f9;}
.board-searchh .search-window .search-wrap {position: relative;margin: 0 auto;width: 90%;max-width: 800px;}
.board-searchh .search-window .search-wrap input { margin-left:50px;height: 40px;width: 400px;font-size: 14px;padding: 7px 14px;border: 1px solid #ccc; }
.board-searchh .search-window .search-wrap input:focus {border-color: #333;outline: 0;border-width: 1px;}
.board-searchh .search-window .search-wrap .btn {position: relative;right: 0;top: 0;bottom: 0;width: 100px;height: 40px;padding: 0;font-size: 16px;}

.board-tablee {font-size: 13px;width: 100%;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.board-tablee a {color: #333;display: inline-block;line-height: 1.4;word-break: break-all;vertical-align: middle;}
.board-tablee a:hover {text-decoration: underline;}
.board-tablee th {text-align: center;}
.board-tablee th {text-align: center;}
.board-tablee .th-num {width: 100px; text-align: center;}
.board-tablee .th-date {width: 200px;}
.board-tablee th, .board-tablee td {padding: 14px 0;}
.board-tablee tbody td {border-top: 1px solid #e7e7e7;text-align: center;}
.board-tablee tbody th {padding-left: 28px;padding-right: 14px;border-top: 1px solid #e7e7e7;text-align: left;}
.board-tablee tbody th p{display: none;}
.btn {display: inline-block; padding:10px 15px; font-size: 16px; font-weight: 400; text-align: center;
  white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;
  -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;
  text-transform: uppercase;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
  -webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s; -o-transition: all 0.3s;
  transition: all 0.3s; }

* {list-style: none;text-decoration: none;padding: 0;margin: 0;box-sizing: border-box;}
.clearfix:after {content: '';display: block;clear: both;}
.containerr {  width: 1100px;margin: 0 auto;}
.blind { position: absolute;overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px;}

/*qnaView*/
.qna{position:relaive; width:100%; height:1100px; margin:0 auto;}
.qnaimg{position:relative; width:1200px; height:333px; text-align:center; margin:100px auto;}
.qnaBox{position:relative; width:680px; margin:0 auto; border:1px dashed gray;}
.qnaBox h2 {font-size:30px; text-align:center; padding:15px; border-bottom:1px dashed gray;}
.qnaBox h3 {text-align:center; padding:20px;}
.fix02 {margin:10px auto; width:680px;}
.fix03 {border:1px dashed gray; margin:0 auto;}
.fix03 th{width:105px; height:62px; padding: 20px; border: 1px dashed gray;}
.fix03 td{width:375px; height:62px; padding: 20px; border: 1px dashed gray;}
.qnaBox .buttons{text-align:center;}

/* 
.btn4{height: 30px;width: 100px;border:1px solid #6317ed; font-weight:bold;
		position:relative; padding-bottom:10px; background:rgb(111, 35, 249);border-radius: 28px; box-shadow: 3px 3px 2px #ccc; font-size: 20px; background-repeat: repeat-x; 
		background-position: center center;	color:#fff;margin: 0 0 0 20px;}

.submit{height: 30px;width: 100px;border:1px solid #6317ed; font-weight:bold;
		position:relative; padding-bottom:10px; background:rgb(111, 35, 249);border-radius: 28px; box-shadow: 3px 3px 2px #ccc; font-size: 20px; background-repeat: repeat-x; 
		background-position: center center;	color:#fff;margin: 0 0 0 20px;}
.submitt{height: 30px;width: 100px;border:1px solid #6317ed; font-weight:bold;
		position:relative; padding-bottom:10px; background:rgb(111, 35, 249);border-radius: 28px; box-shadow: 3px 3px 2px #ccc; font-size: 20px; background-repeat: repeat-x; 
		background-position: center center;	color:#fff;margin: 10px 0 10px 88px;}
.center-align {
  text-align: center;
}	 */	
		
/* 서브메뉴 */
nav#sub_menu { float: left; margin-right: 10px;}
nav#sub_menu ul li { list-style-type: none; margin-top: 10px; }
nav#sub_menu a { text-decoration: none; color: #666; border-bottom: 1px dotted #999;
 display: block; width: 100px; height: 25px; padding: 5px; }
nav#sub_menu a:hover { border-bottom: 1px solid black; }


nav#sub_menu h1 { padding: 5px; border-bottom: double;}
nav#sub_menu ul { margin-left: -20px;}


/*배너리스트*/
table {border-collapse: collapse; border-spacing: 0;}
.findfindd{position:relative; width:100%; margin: 0 auto;}
.id_foundd{position:relative; width:1250px; margin: 0 auto;}
.id_foundd h1 {font-size:50px; text-align:center; height:110px; margin-top:40px;}
.baba{position:relative; margin:0 auto;}
.baba tr{position:relative; width:700px; height:100px;}
.baba th{position:relative; width:250px; font-size:30px; text-align:center;}
.baba td{position:relative; width:500px; margin:0 auto; border:none;}
.baba td input {width:450px; height:50px; font-size:20px; border-radius:10px; 
	border:1px solid lightgray; padding-left:10px; background-color:#f7f7f7;}
.fileUp {position:relative; width:700px; height:80px; margin:0 auto; text-align:right;}
.fileUp input[type=file]{width: 190px; height: 32px;font-size: 13px; border: 0;border-radius: 15px;outline: none;
	padding: 3px;background-color: rgb(233, 233, 233);}
.fileUp input[type=button]{ width: 150px;height: 32px; font-size: 12px; border: 0; border-radius: 15px; outline: none; 
	padding: 3px;background-color: rgb(233, 233, 233);}
.update_buttons {position:relative; width:100%; height:100px; margin:0 auto; text-align:center;}
.update_buttons input {width:140px; height:56px; border-radius:40px; background-color:#6f23f9;
	font-size:20px; color:white; margin:0 3px; border:none;}

.btnp{height: 50px;width: 150px;border:1px solid #6317ed; font-weight:bold;float:left; position:relative;padding: 0 0 3px 6px; 
	background:rgb(111, 35, 249); border-radius: 28px; box-shadow: 3px 3px 2px #ccc; font-size: 20px; background-repeat: repeat-x; 
	background-position: center center;	color:#fff;margin: 0 20px;}
.pl{width: 300px; border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 10px;
    padding: 12px 13px;font-family: 'Roboto';font-style: normal;font-weight: 400;
    font-size: 14px;line-height: 16px;}

.pl:focus{ border: 1px solid #9B51E0;box-sizing: border-box;border-radius: 10px;
    		outline: 3px solid #F8E4FF;border-radius: 10px;}
