@charset "UTF-8";
#mainForm_wrap{
			width:1000px; margin: 10px auto; height: 600px; 
			border: 1px solid #D4A190;
			line-height: 600px;
			text-align: center;
			font-size: 3em; color: #A47160;
			font-weight: bold;
}