<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script th:inline="javascript">
        let friend = [[${friend}]];
        if(friend){
            alert(friend.name + '친구 등록완료');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function (){
            $('tr').click(function (){
                let id = Number($(this).children().eq(0).text().trim());
                if(!isNaN(id)){
                    location.href = '/friend/findOne?id=' + id;
                }
            });
        });
    </script>
</head>
<body>
    <!--[[${friends}]]-->
<th:block th:replace="fragments/header::headerFrangment"/>
<table>
    <tr>
        <td colspan="3">
            <a href="friend/join"><b>친구등록</b></a> &nbsp;&nbsp;
            <a href="/"><b>처음으로</b></a>
        </td>
    <tr><th>아이디</th><th>이름</th><th>전화</th></tr>
    <tr th:if="${friends eq null or friends.size() eq 0}">
        <td colspan="3">
            <b>등록된 친구가 없습니다</b>
        </td>
    </tr>
    <tr th:each="friend:${friends}">
        <td th:text="${friend.id}">#id</td>
        <td th:text="${friend.name}">#name</td>
        <td>[[${friend.tel}]]</td>
    </tr>
    <tr th:unless="${friends.size() == 0}"> <!--사이즈가0이 아닐경우-->
        <td colspan="3" th:text="'이상 &nbsp;' + ${friends.size()} + '명'">xx명</td>
    </tr>
</table>
<th:block th:replace="fragments/footer::footerFragment"/>
</body>
</html>